@use "../../SCSS/" as *;

.main {
    margin-top: $header-height;
    h2 {
        color: $white;
        padding: 10px 0;
    }
}

.home {
    display: flex;
    flex-direction: row;
    &__wrapper {
        flex: auto;
        height: 100px;
        margin-left: 30px;
        margin-top: 30px;
        
        &__list {
            margin-top: 10px;
            padding-bottom: 30px;

            .card {
                padding-top: 130%;
            }
        }
    }

    
}





