@use "../../SCSS/" as *;

.sidebar {
    width: $sidebar-width;
    border-right: 0.5px solid #2f2e2e;
    padding: 20px 30px 0 0;
    height: fit-content;

    h2 {
        padding-bottom: 20px;
    }

    &__list {
        .swiper-slide {
            width: 100%;
        }

        h3 {

        }

        .card {
            background-position: center;
            padding-top: 50%;

            &__content {
                height: 30%;
            }
        }
    }
}