$font-family: 'Quicksand', sans-serif;

$body-bg: #17171B;
$txt-color: #808080;
$main-color: #e2241b;

$white: #fff;
$black: #000;

$header-height: 5rem;
$header-shrink-height: 5rem;
$sidebar-width: 30%;
